* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amatic SC', cursive;
    background-color: rgb(20, 20, 20);
    color: rgba(242, 242, 242, 0.784);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    color: rgb(255, 48, 48);
    font-size: 60px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    
}

.card {
    background-color: rgb(50, 50, 50);
    height: 550px;
    width: 350px;
    padding:15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.card__name {
    color: rgb(255, 48, 48);
    font-size: 40px;
}
.card__content {
    font-size: 20px;
    height: 40%;
}
.card__img {
    border-radius: 10px;
    height: 40%;
    width: 300px;
}

/*-----rating----working on it----*/
.rating {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    line-height: 1;
   /* transition: opacity 0.3s ease 0s; для варианта с ajax*/
}

/* -- для варианта с ajax
.rating.rating_sending{
    opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rsting_set .rating__item {
    cursor: pointer;
}*/


.rating__body {
    position: relative;
}
.rating__body::before {
    content: "★★★★★";
    display: block;
}
.rating__active {
   position: absolute;
   width: 0%;
   height: 100%;
   top: 0;
   left: 0; 
   overflow: hidden;
}
.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: yellow;
}
.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.rating__value {
    font-size: 80%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}